# Contact Information
NEXT_PUBLIC_CONTACT_EMAIL=hello@goatlabs.dev
NEXT_PUBLIC_CONTACT_PHONE=+48000000000

# Company Details
NEXT_PUBLIC_COMPANY_NAME=GoatLabs
NEXT_PUBLIC_COMPANY_ADDRESS=ul. Przykładowa 42, 00-001 Warszawa, Poland
NEXT_PUBLIC_COMPANY_NIP=000-000-00-00
NEXT_PUBLIC_COMPANY_REGON=000000000

# Social Media
NEXT_PUBLIC_SOCIAL_LINKEDIN=https://linkedin.com
NEXT_PUBLIC_SOCIAL_GITHUB=https://github.com
NEXT_PUBLIC_SOCIAL_TWITTER=https://twitter.com
